.nav-bar {
  z-index: 100;
  position: relative;
}
.sticky{
  position: sticky;
  top: 0;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  border: 1px solid white;
 
  min-width: 100%;
  background-color: transparent;
  backdrop-filter: blur(0.3rem);
  box-shadow: 1px 1px 28px rgba(0, 0, 0, 0.489);
}
.nav-head-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-head {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
}
.nav-link-wrapper {
  display: flex;
  align-items: center;
}

.first-links a {
  margin: 0 0.5rem;
}
.second-links {
  display: flex;
  align-items: center;
}
.second-links a {
  margin: 0 0.5rem;
}
.cart-icon-div {
  position: relative;
}

.cart-link{
  padding: 0.9rem !important;
}
.logout-button {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}
.nav-link-wrapper a {
  color: var(--primary-textcolor);
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0.6rem 2rem;
}
.menu-icon {
  display: none;
}
@media (max-width: 656px) {
  .nav-wrapper {
    padding: 1rem 4rem 1rem 4rem;
    width: 100vw;
  }
  .first-links {
    position: absolute;
    top: 7rem;
    left: 1rem;
    height: 15rem;
    width: 30rem;
    flex-direction: column;
    border: 1px solid white;
    z-index: 100;
    background-color: var(--primary-textcolor);
    flex-direction: column;
    justify-content: center;
    transition: all 0.6s ease-in-out;
  }
  .first-links-d-flex {
    display: flex;
  }
  .first-links-d-none {
    display: none;
  }
  .first-links a {
    margin: 0 0.5rem;
  }
  .second-links a {
    margin: 0 0.5rem;
  }
  .menu-icon {
    display: block;
  }
}

@media (max-width: 458px) {
  .nav-wrapper {
    padding: 1rem 3rem;
  }
  
  .first-links a {
    margin-bottom: 0.5rem;
    color: var(--background-color);
    border: 1px solid var(--background-color);
    padding: 1rem 2rem;
  }
 
}
