.create-product-form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.create-product-form > input {
  padding: 1rem;
  font-size: 2rem;
}
.create-product-form > input[type="file"] {
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
}
.create-product-form > input[type="file"]::-webkit-file-upload-button {
  color: black;
  width: 100%;
}
.create-product-form > input[type="file"]::before {
  width: 100%;
}
.create-product-form > select {
  padding: 1rem;
  font-size: 2rem;
}
.selected-images-div{
  display: flex;
  gap: 1rem;
  width: 100%;
}
.selected-images-div > img{
    max-height: 8rem;
    width: 12rem;
    object-fit: contain;
}
