.home{
    height: 100vh;
    
    width: 100vw;
    border: 1px solid white;
    padding: 7rem 5rem 3rem 5rem;
    display: flex;

}

.left-image-section , .right-section {
    flex: 1;
}

.left-image-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.left-image-section > img{
      height: 100%;
      width: 100%;
  min-height: 400x;
  min-width: 400px;
    object-fit: contain;
}

.right-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-section-content{
   min-height: 500px;
   min-width: 500px;
   display: flex;
   flex-direction: column;
justify-content:center;
gap:3rem;
}
.right-section-head{
    font-size: 5rem;
    padding: 1rem;
    letter-spacing: 1px;
}
.right-section-shop-link{
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--pink-color);
    color: var(--background-color);
    border-radius: 0.8rem;
    max-width: 10rem;
    margin:0 auto ;
    letter-spacing: 0.4rem;
}

.right-section-2-color-divs{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.first-color-div, .second-color-div{
    height: 100px;
    width: 100px;
  position: relative;
    border-radius: 0.8rem;
}
.first-color-div{
    background-color: var(--purple-color);
}
.second-color-div{
    background-color: var(--yellow-color);
}


